PORT=3000
DATABASE_URL=postgres://pizza_user:pizza_password@localhost:5432/pizza_delivery
JWT_SECRET=minha-chave-secreta-super-forte
# Configurações de email (opcional)
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=ethereal_user
EMAIL_PASS=ethereal_pass