# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Banco de dados local (SQLite, caso ainda use)
*.db
*.sqlite
*.sqlite3

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/